<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--UseDevelopmentStorage=true-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=checkyopotato;AccountKey=JxX4KUg8K3ubNufmHaI/q3PzNqHKSMCpua32atBVHP1iY6z95FxdgAZLDNOnzNjyXQyFgVR89x50AEi8hBeM4w==" />
  </appSettings>
</configuration>
